resources/hosts/repository.gdi-de.org/schemas/de.xleitstelle.xplanung/4.0.2/XPlanGML_Basisschema.xsd

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!--ADE-Erweiterung, Erstellungsdatum: 03/15/11-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" 
  xmlns:xplan="http://www.xplanung.de/xplangml/4/0" elementFormDefault="qualified" targetNamespace="http://www.xplanung.de/xplangml/4/0" version="4.0.2">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="./gmlProfile/gmlProfilexplan.xsd" />
  <!--XML Schema document created by ShapeChange-->
  <simpleType name="XP_SPEZieleType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <element name="XP_DoubleAttribut" substitutionGroup="xplan:XP_GenerAttribut" type="xplan:XP_DoubleAttributType" />
  <complexType name="XP_DoubleAttributType">
    <complexContent>
      <extension base="xplan:XP_GenerAttributType">
        <sequence>
          <element name="wert" type="double" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_DoubleAttribut" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_DoubleAttribut" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <complexType name="XP_DoubleAttributPropertyType">
    <sequence>
      <element ref="xplan:XP_DoubleAttribut" />
    </sequence>
  </complexType>
  <simpleType name="XP_ZweckbestimmungVerEntsorgungType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="1200" />
      <enumeration value="1300" />
      <enumeration value="1400" />
      <enumeration value="1600" />
      <enumeration value="1800" />
      <enumeration value="2000" />
      <enumeration value="2200" />
      <enumeration value="2400" />
      <enumeration value="2600" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="XP_BedeutungenBereichType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="1500" />
      <enumeration value="1600" />
      <enumeration value="1700" />
      <enumeration value="1800" />
      <enumeration value="2000" />
      <enumeration value="2500" />
      <enumeration value="3000" />
      <enumeration value="3500" />
      <enumeration value="4000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="XP_ZweckbestimmungWaldType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="1200" />
      <enumeration value="1400" />
      <enumeration value="1600" />
      <enumeration value="1800" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="XP_SondernutzungenType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="1100" />
      <enumeration value="1200" />
      <enumeration value="1300" />
      <enumeration value="1400" />
      <enumeration value="1500" />
      <enumeration value="1600" />
      <enumeration value="16000" />
      <enumeration value="16001" />
      <enumeration value="16002" />
      <enumeration value="1700" />
      <enumeration value="1800" />
      <enumeration value="1900" />
      <enumeration value="2000" />
      <enumeration value="2100" />
      <enumeration value="2200" />
      <enumeration value="2300" />
      <enumeration value="2400" />
      <enumeration value="2500" />
      <enumeration value="2600" />
      <enumeration value="2700" />
      <enumeration value="2800" />
      <enumeration value="2900" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="XP_RechtsstandType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
    </restriction>
  </simpleType>
  <element name="XP_DatumAttribut" substitutionGroup="xplan:XP_GenerAttribut" type="xplan:XP_DatumAttributType" />
  <complexType name="XP_DatumAttributType">
    <complexContent>
      <extension base="xplan:XP_GenerAttributType">
        <sequence>
          <element name="wert" type="date" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_DatumAttribut" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_DatumAttribut" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <complexType name="XP_DatumAttributPropertyType">
    <sequence>
      <element ref="xplan:XP_DatumAttribut" />
    </sequence>
  </complexType>
  <simpleType name="XP_VertikaleAusrichtungType">
    <restriction base="string">
      <enumeration value="Basis" />
      <enumeration value="Mitte" />
      <enumeration value="Oben" />
    </restriction>
  </simpleType>
  <element name="XP_IntegerAttribut" substitutionGroup="xplan:XP_GenerAttribut" type="xplan:XP_IntegerAttributType" />
  <complexType name="XP_IntegerAttributType">
    <complexContent>
      <extension base="xplan:XP_GenerAttributType">
        <sequence>
          <element name="wert" type="integer" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_IntegerAttribut" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_IntegerAttribut" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <complexType name="XP_IntegerAttributPropertyType">
    <sequence>
      <element ref="xplan:XP_IntegerAttribut" />
    </sequence>
  </complexType>
  <element name="XP_VerbundenerPlan" substitutionGroup="gml:AbstractObject" type="xplan:XP_VerbundenerPlanType" />
  <complexType name="XP_VerbundenerPlanType">
    <sequence>
      <element name="planName" type="string" />
      <element name="rechtscharakter" type="xplan:XP_RechtscharakterPlanaenderungType" />
      <!--== ADE ===================================================================-->
      <element ref="xplan:_GenericApplicationPropertyOfXP_VerbundenerPlan" minOccurs="0" maxOccurs="unbounded" />
      <!--==========================================================================-->
    </sequence>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_VerbundenerPlan" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <complexType name="XP_VerbundenerPlanPropertyType">
    <sequence>
      <element ref="xplan:XP_VerbundenerPlan" />
    </sequence>
  </complexType>
  <simpleType name="XP_BesondereZweckbestGemeinbedarfType">
    <restriction base="string">
      <enumeration value="10000" />
      <enumeration value="10001" />
      <enumeration value="10002" />
      <enumeration value="10003" />
      <enumeration value="12000" />
      <enumeration value="12001" />
      <enumeration value="12002" />
      <enumeration value="12003" />
      <enumeration value="12004" />
      <enumeration value="14000" />
      <enumeration value="14001" />
      <enumeration value="14002" />
      <enumeration value="14003" />
      <enumeration value="16000" />
      <enumeration value="16001" />
      <enumeration value="16002" />
      <enumeration value="16003" />
      <enumeration value="16004" />
      <enumeration value="18000" />
      <enumeration value="18001" />
      <enumeration value="20000" />
      <enumeration value="20001" />
      <enumeration value="20002" />
      <enumeration value="22000" />
      <enumeration value="22001" />
      <enumeration value="22002" />
      <enumeration value="24000" />
      <enumeration value="24001" />
      <enumeration value="24002" />
      <enumeration value="24003" />
      <enumeration value="26000" />
      <enumeration value="26001" />
    </restriction>
  </simpleType>
  <element name="XP_LPO" substitutionGroup="xplan:XP_AbstraktesPraesentationsobjekt" type="xplan:XP_LPOType" />
  <complexType name="XP_LPOType">
    <complexContent>
      <extension base="xplan:XP_AbstraktesPraesentationsobjektType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_LPO" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_LPO" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="XP_LTO" substitutionGroup="xplan:XP_TPO" type="xplan:XP_LTOType" />
  <complexType name="XP_LTOType">
    <complexContent>
      <extension base="xplan:XP_TPOType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_LTO" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_LTO" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="XP_AbweichungBauNVOTypenType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="XP_VersionBauNVOType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
      <enumeration value="4000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="XP_ArtHoehenbezugspunktType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
      <enumeration value="3500" />
      <enumeration value="4000" />
      <enumeration value="4500" />
      <enumeration value="5000" />
      <enumeration value="5500" />
      <enumeration value="6000" />
    </restriction>
  </simpleType>
  <element abstract="true" name="XP_RasterplanAenderung" substitutionGroup="gml:AbstractFeature" type="xplan:XP_RasterplanAenderungType" />
  <complexType abstract="true" name="XP_RasterplanAenderungType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="nameAenderung" type="string" />
          <element minOccurs="0" name="beschreibung" type="string" />
          <element minOccurs="0" name="refBeschreibung" type="xplan:XP_ExterneReferenzPropertyType" />
          <element minOccurs="0" name="refBegruendung" type="xplan:XP_ExterneReferenzPropertyType" />
          <element maxOccurs="unbounded" name="refScan" type="xplan:XP_ExterneReferenzPropertyType" />
          <element minOccurs="0" name="refText" type="xplan:XP_ExterneReferenzPropertyType" />
          <element maxOccurs="unbounded" minOccurs="0" name="refLegende" type="xplan:XP_ExterneReferenzPropertyType" />
          <element minOccurs="0" name="geltungsbereichAenderung" type="gml:GeometryPropertyType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_RasterplanAenderung" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_RasterplanAenderung" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="XP_ExterneReferenz" substitutionGroup="gml:AbstractObject" type="xplan:XP_ExterneReferenzType" />
  <complexType name="XP_ExterneReferenzType">
    <sequence>
      <element minOccurs="0" name="georefURL" type="anyURI" />
      <element minOccurs="0" name="georefMimeType" type="gml:CodeType" />
      <element minOccurs="0" name="art" type="gml:CodeType" />
      <element minOccurs="0" name="informationssystemURL" type="anyURI" />
      <element minOccurs="0" name="referenzName" type="string" />
      <element minOccurs="0" name="referenzURL" type="anyURI" />
      <element minOccurs="0" name="referenzMimeType" type="gml:CodeType" />
      <element minOccurs="0" name="beschreibung" type="string" />
      <!--== ADE ===================================================================-->
      <element ref="xplan:_GenericApplicationPropertyOfXP_ExterneReferenz" minOccurs="0" maxOccurs="unbounded" />
      <!--==========================================================================-->
    </sequence>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_ExterneReferenz" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <complexType name="XP_ExterneReferenzPropertyType">
    <sequence>
      <element ref="xplan:XP_ExterneReferenz" />
    </sequence>
  </complexType>
  <simpleType name="XP_VerlaengerungVeraenderungssperreType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
    </restriction>
  </simpleType>
  <element name="XP_URLAttribut" substitutionGroup="xplan:XP_GenerAttribut" type="xplan:XP_URLAttributType" />
  <complexType name="XP_URLAttributType">
    <complexContent>
      <extension base="xplan:XP_GenerAttributType">
        <sequence>
          <element name="wert" type="anyURI" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_URLAttribut" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_URLAttribut" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <complexType name="XP_URLAttributPropertyType">
    <sequence>
      <element ref="xplan:XP_URLAttribut" />
    </sequence>
  </complexType>
  <element name="XP_Praesentationsobjekt" substitutionGroup="xplan:XP_AbstraktesPraesentationsobjekt" type="xplan:XP_PraesentationsobjektType" />
  <complexType name="XP_PraesentationsobjektType">
    <complexContent>
      <extension base="xplan:XP_AbstraktesPraesentationsobjektType">
        <sequence>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_Praesentationsobjekt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_Praesentationsobjekt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element abstract="true" name="XP_Bereich" substitutionGroup="gml:AbstractFeature" type="xplan:XP_BereichType" />
  <complexType abstract="true" name="XP_BereichType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="nummer" type="integer" />
          <element minOccurs="0" name="name" type="string" />
          <element minOccurs="0" name="bedeutung" type="xplan:XP_BedeutungenBereichType" />
          <element minOccurs="0" name="detaillierteBedeutung" type="string" />
          <element minOccurs="0" name="erstellungsMasstab" type="integer" />
          <element minOccurs="0" name="geltungsbereich" type="gml:GeometryPropertyType" />
          <element maxOccurs="unbounded" minOccurs="0" name="nachrichtlich" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:XP_Objekt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">xplan:gehoertNachrichtlichZuBereich</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="praesentationsobjekt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:XP_AbstraktesPraesentationsobjekt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">xplan:gehoertZuBereich</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rasterBasis" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:XP_RasterplanBasis</targetElement>
              </appinfo>
            </annotation>
          </element>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_Bereich" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_Bereich" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element abstract="true" name="XP_AbstraktesPraesentationsobjekt" substitutionGroup="gml:AbstractFeature" type="xplan:XP_AbstraktesPraesentationsobjektType" />
  <complexType abstract="true" name="XP_AbstraktesPraesentationsobjektType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="stylesheetId" type="gml:CodeType" />
          <element minOccurs="0" name="darstellungsprioritaet" type="integer" />
          <element maxOccurs="unbounded" minOccurs="0" name="art" type="string" />
          <element minOccurs="0" name="gehoertZuBereich" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:XP_Bereich</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">xplan:praesentationsobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="dientZurDarstellungVon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:XP_Objekt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">xplan:wirdDargestelltDurch</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_AbstraktesPraesentationsobjekt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_AbstraktesPraesentationsobjekt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="XP_FPO" substitutionGroup="xplan:XP_AbstraktesPraesentationsobjekt" type="xplan:XP_FPOType" />
  <complexType name="XP_FPOType">
    <complexContent>
      <extension base="xplan:XP_AbstraktesPraesentationsobjektType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_FPO" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_FPO" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="XP_ZweckbestimmungSpielSportanlageType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="XP_HorizontaleAusrichtungType">
    <restriction base="string">
      <enumeration value="linksbündig" />
      <enumeration value="rechtsbündig" />
      <enumeration value="zentrisch" />
    </restriction>
  </simpleType>
  <element name="XP_StringAttribut" substitutionGroup="xplan:XP_GenerAttribut" type="xplan:XP_StringAttributType" />
  <complexType name="XP_StringAttributType">
    <complexContent>
      <extension base="xplan:XP_GenerAttributType">
        <sequence>
          <element name="wert" type="string" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_StringAttribut" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_StringAttribut" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <complexType name="XP_StringAttributPropertyType">
    <sequence>
      <element ref="xplan:XP_StringAttribut" />
    </sequence>
  </complexType>
  <simpleType name="XP_ArtHoehenbezugType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="2500" />
      <enumeration value="3000" />
    </restriction>
  </simpleType>
  <element abstract="true" name="XP_Plan" substitutionGroup="gml:AbstractFeature" type="xplan:XP_PlanType" />
  <complexType abstract="true" name="XP_PlanType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="name" type="string" />
          <element minOccurs="0" name="nummer" type="string" />
          <element minOccurs="0" name="internalId" type="string" />
          <element minOccurs="0" name="beschreibung" type="string" />
          <element minOccurs="0" name="kommentar" type="string" />
          <element minOccurs="0" name="technHerstellDatum" type="date" />
          <element minOccurs="0" name="untergangsDatum" type="date" />
          <element maxOccurs="unbounded" minOccurs="0" name="aendert" type="xplan:XP_VerbundenerPlanPropertyType" />
          <element maxOccurs="unbounded" minOccurs="0" name="wurdeGeaendertVon" type="xplan:XP_VerbundenerPlanPropertyType" />
          <element minOccurs="0" name="erstellungsMassstab" type="integer" />
          <element minOccurs="0" name="xPlanGMLVersion" type="string" />
          <element minOccurs="0" name="bezugshoehe" type="gml:LengthType" />
          <element minOccurs="0" name="raeumlicherGeltungsbereich" type="gml:GeometryPropertyType" />
          <element maxOccurs="unbounded" minOccurs="0" name="verfahrensMerkmale" type="xplan:XP_VerfahrensMerkmalPropertyType" />
          <element maxOccurs="unbounded" minOccurs="0" name="rechtsverbindlich" type="xplan:XP_ExterneReferenzPropertyType" />
          <element maxOccurs="unbounded" minOccurs="0" name="informell" type="xplan:XP_ExterneReferenzPropertyType" />
          <element maxOccurs="unbounded" minOccurs="0" name="hatGenerAttribut" type="xplan:XP_GenerAttributPropertyType" />
          <element maxOccurs="unbounded" minOccurs="0" name="refBeschreibung" type="xplan:XP_ExterneReferenzPropertyType" />
          <element maxOccurs="unbounded" minOccurs="0" name="refBegruendung" type="xplan:XP_ExterneReferenzPropertyType" />
          <element minOccurs="0" name="refExternalCodeList" type="xplan:XP_ExterneReferenzPropertyType" />
          <element maxOccurs="unbounded" minOccurs="0" name="refLegende" type="xplan:XP_ExterneReferenzPropertyType" />
          <element maxOccurs="unbounded" minOccurs="0" name="refRechtsplan" type="xplan:XP_ExterneReferenzPropertyType" />
          <element maxOccurs="unbounded" minOccurs="0" name="refPlangrundlage" type="xplan:XP_ExterneReferenzPropertyType" />
          <element maxOccurs="unbounded" minOccurs="0" name="texte" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:XP_TextAbschnitt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="begruendungsTexte" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:XP_BegruendungAbschnitt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_Plan" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_Plan" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="XP_VerfahrensMerkmal" substitutionGroup="gml:AbstractObject" type="xplan:XP_VerfahrensMerkmalType" />
  <complexType name="XP_VerfahrensMerkmalType">
    <sequence>
      <element name="vermerk" type="string" />
      <element name="datum" type="date" />
      <element name="signatur" type="string" />
      <element name="signiert" type="boolean" />
      <!--== ADE ===================================================================-->
      <element ref="xplan:_GenericApplicationPropertyOfXP_VerfahrensMerkmal" minOccurs="0" maxOccurs="unbounded" />
      <!--==========================================================================-->
    </sequence>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_VerfahrensMerkmal" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <complexType name="XP_VerfahrensMerkmalPropertyType">
    <sequence>
      <element ref="xplan:XP_VerfahrensMerkmal" />
    </sequence>
  </complexType>
  <element name="XP_Hoehenangabe" substitutionGroup="gml:AbstractObject" type="xplan:XP_HoehenangabeType" />
  <complexType name="XP_HoehenangabeType">
    <sequence>
      <element minOccurs="0" name="abweichenderHoehenbezug" type="string" />
      <element name="hoehenbezug" type="xplan:XP_ArtHoehenbezugType" />
      <element minOccurs="0" name="bezugspunkt" type="xplan:XP_ArtHoehenbezugspunktType" />
      <element minOccurs="0" name="hMin" type="gml:LengthType" />
      <element minOccurs="0" name="hMax" type="gml:LengthType" />
      <element minOccurs="0" name="hZwingend" type="gml:LengthType" />
      <element minOccurs="0" name="h" type="gml:LengthType" />
      <!--== ADE ===================================================================-->
      <element ref="xplan:_GenericApplicationPropertyOfXP_Hoehenangabe" minOccurs="0" maxOccurs="unbounded" />
      <!--==========================================================================-->
    </sequence>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_Hoehenangabe" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <complexType name="XP_HoehenangabePropertyType">
    <sequence>
      <element ref="xplan:XP_Hoehenangabe" />
    </sequence>
  </complexType>
  <element name="XP_PPO" substitutionGroup="xplan:XP_AbstraktesPraesentationsobjekt" type="xplan:XP_PPOType" />
  <complexType name="XP_PPOType">
    <complexContent>
      <extension base="xplan:XP_AbstraktesPraesentationsobjektType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType" />
          <element minOccurs="0" name="drehwinkel" type="gml:AngleType" />
          <element minOccurs="0" name="skalierung" type="double" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_PPO" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_PPO" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="XP_RasterplanBasis" substitutionGroup="gml:AbstractFeature" type="xplan:XP_RasterplanBasisType" />
  <complexType name="XP_RasterplanBasisType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" name="refScan" type="xplan:XP_ExterneReferenzPropertyType" />
          <element minOccurs="0" name="refText" type="xplan:XP_ExterneReferenzPropertyType" />
          <element maxOccurs="unbounded" minOccurs="0" name="refLegende" type="xplan:XP_ExterneReferenzPropertyType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_RasterplanBasis" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_RasterplanBasis" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="XP_ZweckbestimmungWasserwirtschaftType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="1100" />
      <enumeration value="1200" />
      <enumeration value="1300" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="XP_ZweckbestimmungGewaesserType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="1100" />
      <enumeration value="1200" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <element abstract="true" name="XP_TPO" substitutionGroup="xplan:XP_AbstraktesPraesentationsobjekt" type="xplan:XP_TPOType" />
  <complexType abstract="true" name="XP_TPOType">
    <complexContent>
      <extension base="xplan:XP_AbstraktesPraesentationsobjektType">
        <sequence>
          <element minOccurs="0" name="schriftinhalt" type="string" />
          <element minOccurs="0" name="fontSperrung" type="double" />
          <element minOccurs="0" name="skalierung" type="double" />
          <element minOccurs="0" name="horizontaleAusrichtung" type="xplan:XP_HorizontaleAusrichtungType" />
          <element minOccurs="0" name="vertikaleAusrichtung" type="xplan:XP_VertikaleAusrichtungType" />
          <element minOccurs="0" name="hat" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:XP_LPO</targetElement>
              </appinfo>
            </annotation>
          </element>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_TPO" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_TPO" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element abstract="true" name="XP_GenerAttribut" substitutionGroup="gml:AbstractObject" type="xplan:XP_GenerAttributType" />
  <complexType abstract="true" name="XP_GenerAttributType">
    <sequence>
      <element name="name" type="string" />
      <!--== ADE ===================================================================-->
      <element ref="xplan:_GenericApplicationPropertyOfXP_GenerAttribut" minOccurs="0" maxOccurs="unbounded" />
      <!--==========================================================================-->
    </sequence>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_GenerAttribut" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <complexType name="XP_GenerAttributPropertyType">
    <sequence>
      <element ref="xplan:XP_GenerAttribut" />
    </sequence>
  </complexType>
  <element name="XP_Plangeber" substitutionGroup="gml:AbstractObject" type="xplan:XP_PlangeberType" />
  <complexType name="XP_PlangeberType">
    <sequence>
      <element name="name" type="string" />
      <element minOccurs="0" name="kennziffer" type="string" />
      <!--== ADE ===================================================================-->
      <element ref="xplan:_GenericApplicationPropertyOfXP_Plangeber" minOccurs="0" maxOccurs="unbounded" />
      <!--==========================================================================-->
    </sequence>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_Plangeber" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <complexType name="XP_PlangeberPropertyType">
    <sequence>
      <element ref="xplan:XP_Plangeber" />
    </sequence>
  </complexType>
  <simpleType name="XP_ZweckbestimmungKennzeichnungType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
      <enumeration value="4000" />
      <enumeration value="5000" />
      <enumeration value="6000" />
      <enumeration value="7000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="XP_NutzungsformType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
    </restriction>
  </simpleType>
  <simpleType name="XP_SPEMassnahmenTypenType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="1100" />
      <enumeration value="1200" />
      <enumeration value="1300" />
      <enumeration value="1400" />
      <enumeration value="1500" />
      <enumeration value="1600" />
      <enumeration value="1700" />
      <enumeration value="1800" />
      <enumeration value="1900" />
      <enumeration value="2000" />
      <enumeration value="2100" />
      <enumeration value="2200" />
      <enumeration value="2300" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="XP_RechtscharakterPlanaenderungType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
    </restriction>
  </simpleType>
  <element abstract="true" name="XP_Objekt" substitutionGroup="gml:AbstractFeature" type="xplan:XP_ObjektType" />
  <complexType abstract="true" name="XP_ObjektType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="uuid" type="string" />
          <element minOccurs="0" name="text" type="string" />
          <element minOccurs="0" name="rechtsstand" type="xplan:XP_RechtsstandType" />
          <element minOccurs="0" name="gesetzlicheGrundlage" type="gml:CodeType" />
          <element maxOccurs="unbounded" minOccurs="0" name="textSchluessel" type="string" />
          <element maxOccurs="unbounded" minOccurs="0" name="textSchluesselBegruendung" type="string" />
          <element minOccurs="0" name="gliederung1" type="string" />
          <element minOccurs="0" name="gliederung2" type="string" />
          <element minOccurs="0" name="ebene" type="integer" />
          <element maxOccurs="unbounded" minOccurs="0" name="rechtsverbindlich" type="xplan:XP_ExterneReferenzPropertyType" />
          <element maxOccurs="unbounded" minOccurs="0" name="informell" type="xplan:XP_ExterneReferenzPropertyType" />
          <element maxOccurs="unbounded" minOccurs="0" name="hatGenerAttribut" type="xplan:XP_GenerAttributPropertyType" />
          <element maxOccurs="unbounded" minOccurs="0" name="hoehenangabe" type="xplan:XP_HoehenangabePropertyType" />
          <element maxOccurs="unbounded" minOccurs="0" name="gehoertNachrichtlichZuBereich" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:XP_Bereich</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">xplan:nachrichtlich</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="wirdDargestelltDurch" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:XP_AbstraktesPraesentationsobjekt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">xplan:dientZurDarstellungVon</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="refTextInhalt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:XP_TextAbschnitt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="refBegruendungInhalt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:XP_BegruendungAbschnitt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_Objekt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_Objekt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="XP_Gemeinde" substitutionGroup="gml:AbstractObject" type="xplan:XP_GemeindeType" />
  <complexType name="XP_GemeindeType">
    <sequence>
      <element minOccurs="0" name="ags" type="string" />
      <element minOccurs="0" name="rs" type="string" />
      <element minOccurs="0" name="gemeindeName" type="string" />
      <element minOccurs="0" name="ortsteilName" type="string" />
      <!--== ADE ===================================================================-->
      <element ref="xplan:_GenericApplicationPropertyOfXP_Gemeinde" minOccurs="0" maxOccurs="unbounded" />
      <!--==========================================================================-->
    </sequence>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_Gemeinde" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <complexType name="XP_GemeindePropertyType">
    <sequence>
      <element ref="xplan:XP_Gemeinde" />
    </sequence>
  </complexType>
  <element name="XP_BegruendungAbschnitt" substitutionGroup="gml:AbstractFeature" type="xplan:XP_BegruendungAbschnittType" />
  <complexType name="XP_BegruendungAbschnittType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="schluessel" type="string" />
          <element minOccurs="0" name="text" type="string" />
          <element minOccurs="0" name="refText" type="xplan:XP_ExterneReferenzPropertyType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_BegruendungAbschnitt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_BegruendungAbschnitt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="XP_BesondereZweckbestimmungGruenType">
    <restriction base="string">
      <enumeration value="10000" />
      <enumeration value="10001" />
      <enumeration value="10002" />
      <enumeration value="10003" />
      <enumeration value="12000" />
      <enumeration value="14000" />
      <enumeration value="14001" />
      <enumeration value="14002" />
      <enumeration value="14003" />
      <enumeration value="14004" />
      <enumeration value="14005" />
      <enumeration value="14006" />
      <enumeration value="14007" />
      <enumeration value="16000" />
      <enumeration value="16001" />
      <enumeration value="18000" />
      <enumeration value="22000" />
      <enumeration value="22001" />
      <enumeration value="24000" />
      <enumeration value="24001" />
      <enumeration value="24002" />
      <enumeration value="24003" />
      <enumeration value="24004" />
      <enumeration value="24005" />
      <enumeration value="24006" />
      <enumeration value="99990" />
    </restriction>
  </simpleType>
  <simpleType name="XP_AllgArtDerBaulNutzungType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
      <enumeration value="4000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="XP_BesondereArtDerBaulNutzungType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="1100" />
      <enumeration value="1200" />
      <enumeration value="1300" />
      <enumeration value="1400" />
      <enumeration value="1500" />
      <enumeration value="1600" />
      <enumeration value="1700" />
      <enumeration value="1800" />
      <enumeration value="2000" />
      <enumeration value="2100" />
      <enumeration value="3000" />
      <enumeration value="4000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="XP_ZweckbestimmungGemeinbedarfType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="1200" />
      <enumeration value="1400" />
      <enumeration value="1600" />
      <enumeration value="1800" />
      <enumeration value="2000" />
      <enumeration value="2200" />
      <enumeration value="2400" />
      <enumeration value="2600" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <element name="XP_PTO" substitutionGroup="xplan:XP_TPO" type="xplan:XP_PTOType" />
  <complexType name="XP_PTOType">
    <complexContent>
      <extension base="xplan:XP_TPOType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType" />
          <element minOccurs="0" name="drehwinkel" type="gml:AngleType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_PTO" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_PTO" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="XP_TextAbschnitt" substitutionGroup="gml:AbstractFeature" type="xplan:XP_TextAbschnittType" />
  <complexType name="XP_TextAbschnittType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="schluessel" type="string" />
          <element minOccurs="0" name="gesetzlicheGrundlage" type="string" />
          <element minOccurs="0" name="text" type="string" />
          <element minOccurs="0" name="refText" type="xplan:XP_ExterneReferenzPropertyType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_TextAbschnitt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_TextAbschnitt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="XP_BesondereZweckbestimmungVerEntsorgungType">
    <restriction base="string">
      <enumeration value="10000" />
      <enumeration value="10001" />
      <enumeration value="10002" />
      <enumeration value="10003" />
      <enumeration value="10004" />
      <enumeration value="10005" />
      <enumeration value="10006" />
      <enumeration value="10007" />
      <enumeration value="10008" />
      <enumeration value="10009" />
      <enumeration value="10010" />
      <enumeration value="12000" />
      <enumeration value="12001" />
      <enumeration value="12002" />
      <enumeration value="12003" />
      <enumeration value="12004" />
      <enumeration value="12005" />
      <enumeration value="13000" />
      <enumeration value="13001" />
      <enumeration value="13002" />
      <enumeration value="13003" />
      <enumeration value="14000" />
      <enumeration value="14001" />
      <enumeration value="14002" />
      <enumeration value="16000" />
      <enumeration value="16001" />
      <enumeration value="16002" />
      <enumeration value="16003" />
      <enumeration value="16004" />
      <enumeration value="16005" />
      <enumeration value="18000" />
      <enumeration value="18001" />
      <enumeration value="18002" />
      <enumeration value="18003" />
      <enumeration value="18004" />
      <enumeration value="18005" />
      <enumeration value="20000" />
      <enumeration value="20001" />
      <enumeration value="22000" />
      <enumeration value="22001" />
      <enumeration value="22002" />
      <enumeration value="22003" />
      <enumeration value="24000" />
      <enumeration value="24001" />
      <enumeration value="24002" />
      <enumeration value="24003" />
      <enumeration value="24004" />
      <enumeration value="24005" />
      <enumeration value="26000" />
      <enumeration value="26001" />
      <enumeration value="26002" />
      <enumeration value="99990" />
    </restriction>
  </simpleType>
  <simpleType name="XP_ZweckbestimmungGruenType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="1200" />
      <enumeration value="1400" />
      <enumeration value="1600" />
      <enumeration value="1800" />
      <enumeration value="2000" />
      <enumeration value="2200" />
      <enumeration value="2400" />
      <enumeration value="2600" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="XP_ZweckbestimmungLandwirtschaftType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="1100" />
      <enumeration value="1200" />
      <enumeration value="1300" />
      <enumeration value="1400" />
      <enumeration value="1500" />
      <enumeration value="1600" />
      <enumeration value="1700" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="XP_BundeslaenderType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="1100" />
      <enumeration value="1200" />
      <enumeration value="1300" />
      <enumeration value="1400" />
      <enumeration value="1500" />
      <enumeration value="1600" />
      <enumeration value="1700" />
      <enumeration value="1800" />
      <enumeration value="1900" />
      <enumeration value="2000" />
      <enumeration value="2100" />
      <enumeration value="2200" />
      <enumeration value="2300" />
      <enumeration value="2400" />
      <enumeration value="2500" />
      <enumeration value="3000" />
    </restriction>
  </simpleType>
  <element name="XP_SPEMassnahmenDaten" substitutionGroup="gml:AbstractObject" type="xplan:XP_SPEMassnahmenDatenType" />
  <complexType name="XP_SPEMassnahmenDatenType">
    <sequence>
      <element minOccurs="0" name="klassifizMassnahme" type="xplan:XP_SPEMassnahmenTypenType" />
      <element minOccurs="0" name="massnahmeText" type="string" />
      <element minOccurs="0" name="massnahmeKuerzel" type="string" />
      <!--== ADE ===================================================================-->
      <element ref="xplan:_GenericApplicationPropertyOfXP_SPEMassnahmenDaten" minOccurs="0" maxOccurs="unbounded" />
      <!--==========================================================================-->
    </sequence>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_SPEMassnahmenDaten" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <complexType name="XP_SPEMassnahmenDatenPropertyType">
    <sequence>
      <element ref="xplan:XP_SPEMassnahmenDaten" />
    </sequence>
  </complexType>
</schema>