resources/hosts/docs.oasis-open.org/election/eml/v5.0/cd01/EMLv5.0Schemas/120-interdb-v5-0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
  EML 120 Schema - Inter DB

  History: 4.0 Edited by Paul Spencer (Boynings Consulting) 2005/2006
                - major release revision

           5.0 Edited by David RR Webber (OVS) 2007-02-06
               Edited by Paul Spencer 2007-01-06
               - Change for both ActionDateTime and ActionedDateTime as union of
                 xs:date and xs:dateTime.
               - Names changed to ActionTime and ActionedTime.
               - ActionTime made optional.
  -->

<!--
Metadata: Owner: EML (OASIS Election Markup Language TC)
Product: EML
Product Version: 5.0
Artifact Type: Schema
Stage: os (OASIS Standard)
Descriptive Name: None required
Revision: None
Language: en (English)
Form: xsd (schema)
Date: 20070314 (14 March 2007)
  -->
<!--

Copyright &#169; OASIS&#174; 1993/2007. All Rights Reserved. OASIS trademark, IPR and other policies apply.

All capitalized terms in the following text have the meanings assigned to them in the OASIS Intellectual Property Rights Policy (the "OASIS IPR Policy"). The full Policy may be found at the OASIS website.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published, and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this section are included on all such copies and derivative works. However, this document itself may not be modified in any way, including by removing the copyright notice or references to OASIS, except as needed for the purpose of developing any document or deliverable produced by an OASIS Technical Committee (in which case the rules applicable to copyrights, as set forth in the OASIS IPR Policy, must be followed) or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by OASIS or its successors or assigns.

This document and the information contained herein is provided on an "AS IS" basis and OASIS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY OWNERSHIP RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.

OASIS requests that any OASIS Party or any other party that believes it has patent claims that would necessarily be infringed by implementations of this OASIS Committee Specification or OASIS Standard, to notify OASIS TC Administrator and provide an indication of its willingness to grant patent licenses to such patent claims in a manner consistent with the IPR Mode of the OASIS Technical Committee that produced this specification.

OASIS invites any party to contact the OASIS TC Administrator if it is aware of a claim of ownership of any patent claims that would necessarily be infringed by implementations of this specification by a patent holder that is not willing to provide a license to such patent claims in a manner consistent with the IPR Mode of the OASIS Technical Committee that produced this specification. OASIS may include such claims on its website, but disclaims any obligation to do so.

OASIS takes no position regarding the validity or scope of any intellectual property or other rights that might be claimed to pertain to the implementation or use of the technology described in this document or the extent to which any license under such rights might or might not be available; neither does it represent that it has made any effort to identify any such rights. Information on OASIS' procedures with respect to rights in any document or deliverable produced by an OASIS Technical Committee can be found on the OASIS website. Copies of claims of rights made available for publication and any assurances of licenses to be made available, or the result of an attempt made to obtain a general license or permission for the use of such proprietary rights by implementers or users of this OASIS Committee Specification or OASIS Standard, can be obtained from the OASIS TC Administrator. OASIS makes no representation that any information or list of intellectual property rights will at any time be complete, or that any claims in such list are, in fact, Essential Claims.

The names "OASIS", "Election Markup Language (EML)" are trademarks of OASIS, the owner and developer of this specification, and should be used only to refer to the organization and its official outputs. OASIS welcomes reference to, and implementation and use of, specifications, while reserving the right to enforce its marks against misleading uses. Please see http://www.oasis-open.org/who/trademark.php for above guidance.
  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:oasis:names:tc:evs:schema:eml" targetNamespace="urn:oasis:names:tc:evs:schema:eml" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.0" id="eml-320">
	<xs:include schemaLocation="120-310-330-include-v5-0.xsd"/>
	<xs:element name="EML">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="EMLstructure">
					<xs:sequence>
						<xs:element ref="InterDb"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:unique name="DisplayOrder">
			<xs:selector xpath=".//*"/>
			<xs:field xpath="@DisplayOrder"/>
		</xs:unique>
	</xs:element>
	<xs:element name="InterDb">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Source" type="ProcessingUnitStructure"/>
				<xs:element name="Destination" type="ProcessingUnitStructure"/>
				<xs:choice>
					<xs:element name="Request">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Action" type="xs:token"/>
								<xs:element name="ActionTime" minOccurs="0">
									<xs:simpleType>
										<xs:union memberTypes="xs:dateTime xs:date"/>
									</xs:simpleType>
								</xs:element>
								<xs:choice>
									<xs:element ref="VoterRegistration" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element ref="Candidate" minOccurs="0" maxOccurs="unbounded"/>
								</xs:choice>
								<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Response">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Action" type="xs:token" minOccurs="0"/>
								<xs:element name="ActionedTime" minOccurs="0">
									<xs:simpleType>
										<xs:union memberTypes="xs:dateTime xs:date"/>
									</xs:simpleType>
								</xs:element>
								<xs:choice>
									<xs:element name="VoterRegistration" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="VoterRegistrationStructure">
													<xs:sequence minOccurs="0">
														<xs:element ref="Result"/>
													</xs:sequence>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="Candidate" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="CandidateStructure">
													<xs:sequence minOccurs="0">
														<xs:element ref="Result"/>
													</xs:sequence>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:choice>
								<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Result">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Success" type="YesNoType"/>
					<xs:element name="Remark" type="xs:token" minOccurs="0"/>
				</xs:sequence>
				<xs:element name="Remark" type="xs:token"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>
