resources/hosts/docs.oasis-open.org/election/eml/v5.0/cd01/EMLv5.0Schemas/emlexternals-v5-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  EML Externals Schema - Includes

  History: 4.0 Edited by Paul Spencer (Boynings Consulting) 2005/2006
                - major release revision

           5.0 Edited by David RR Webber (OVS) 2007-02-07
  -->

<!--
Metadata: Owner: EML (OASIS Election Markup Language TC)
Product: EML
Product Version: 5.0
Artifact Type: Schema
Stage: os (OASIS Standard)
Descriptive Name: None required
Revision: None
Language: en (English)
Form: xsd (schema)
Date: 20070314 (14 March 2007)
  -->
<!--

Copyright &#169; OASIS&#174; 1993/2007. All Rights Reserved. OASIS trademark, IPR and other policies apply.

All capitalized terms in the following text have the meanings assigned to them in the OASIS Intellectual Property Rights Policy (the "OASIS IPR Policy"). The full Policy may be found at the OASIS website.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published, and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this section are included on all such copies and derivative works. However, this document itself may not be modified in any way, including by removing the copyright notice or references to OASIS, except as needed for the purpose of developing any document or deliverable produced by an OASIS Technical Committee (in which case the rules applicable to copyrights, as set forth in the OASIS IPR Policy, must be followed) or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by OASIS or its successors or assigns.

This document and the information contained herein is provided on an "AS IS" basis and OASIS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY OWNERSHIP RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.

OASIS requests that any OASIS Party or any other party that believes it has patent claims that would necessarily be infringed by implementations of this OASIS Committee Specification or OASIS Standard, to notify OASIS TC Administrator and provide an indication of its willingness to grant patent licenses to such patent claims in a manner consistent with the IPR Mode of the OASIS Technical Committee that produced this specification.

OASIS invites any party to contact the OASIS TC Administrator if it is aware of a claim of ownership of any patent claims that would necessarily be infringed by implementations of this specification by a patent holder that is not willing to provide a license to such patent claims in a manner consistent with the IPR Mode of the OASIS Technical Committee that produced this specification. OASIS may include such claims on its website, but disclaims any obligation to do so.

OASIS takes no position regarding the validity or scope of any intellectual property or other rights that might be claimed to pertain to the implementation or use of the technology described in this document or the extent to which any license under such rights might or might not be available; neither does it represent that it has made any effort to identify any such rights. Information on OASIS' procedures with respect to rights in any document or deliverable produced by an OASIS Technical Committee can be found on the OASIS website. Copies of claims of rights made available for publication and any assurances of licenses to be made available, or the result of an attempt made to obtain a general license or permission for the use of such proprietary rights by implementers or users of this OASIS Committee Specification or OASIS Standard, can be obtained from the OASIS TC Administrator. OASIS makes no representation that any information or list of intellectual property rights will at any time be complete, or that any claims in such list are, in fact, Essential Claims.

The names "OASIS", "Election Markup Language (EML)" are trademarks of OASIS, the owner and developer of this specification, and should be used only to refer to the organization and its official outputs. OASIS welcomes reference to, and implementation and use of, specifications, while reserving the right to enforce its marks against misleading uses. Please see http://www.oasis-open.org/who/trademark.php for above guidance.
  -->
<xs:schema xmlns="urn:oasis:names:tc:evs:schema:eml" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xal="urn:oasis:names:tc:ciq:xsdschema:xAL:2.0" xmlns:xnl="urn:oasis:names:tc:ciq:xsdschema:xNL:2.0" targetNamespace="urn:oasis:names:tc:evs:schema:eml" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.0" id="eml-externals">
	<xs:annotation>
		<xs:documentation>This file provides mappings between the various name and address data types and any external data types that are to be used for a specific election scenario. By default, the OASIS Extensible Name and Address Language is used. If you wish to change this, do so by editing this file, but do not change the file name as this will require changes to other EML files.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:oasis:names:tc:ciq:xsdschema:xAL:2.0" schemaLocation="external/xAL.xsd"/>
	<xs:import namespace="urn:oasis:names:tc:ciq:xsdschema:xNL:2.0" schemaLocation="external/xNL.xsd"/>
	<!--addresses -->
	<xs:complexType name="MailingAddressStructure">
		<xs:complexContent>
			<xs:extension base="xal:AddressDetails"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PhysicalAddressStructure">
		<xs:complexContent>
			<xs:extension base="xal:AddressDetails"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProxyAddressStructure">
		<xs:complexContent>
			<xs:extension base="xal:AddressDetails"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="QualifyingAddressStructure">
		<xs:complexContent>
			<xs:extension base="xal:AddressDetails"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PostalLocationStructure">
		<xs:complexContent>
			<xs:extension base="xal:AddressDetails"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AuthorityAddressStructure">
		<xs:complexContent>
			<xs:extension base="xal:AddressDetails"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ElectoralAddressStructure">
		<xs:complexContent>
			<xs:extension base="xal:AddressDetails"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OfficialAddressStructure">
		<xs:complexContent>
			<xs:extension base="xal:AddressDetails"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- names -->
	<xs:complexType name="PersonNameStructure">
		<xs:complexContent>
			<xs:extension base="xnl:NameDetails"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="PersonNameType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
