resources/hosts/docs.oasis-open.org/election/eml/v7.0/csd01/external/CIQ-xAL-v4.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xal="urn:oasis:names:tc:ciq:xal:4"
   xmlns="urn:oasis:names:tc:ciq:xal:4" targetNamespace="urn:oasis:names:tc:ciq:xal:4"
   version="4.0 draft" elementFormDefault="qualified">
   <xsd:annotation>
      <xsd:documentation>

                       OASIS: Main schema - OASIS Committee Specification (CS) schema
                       OASIS: Each namespace has its own import domain subset schema
                       OASIS: External Standard(s) schema are placed in the external folder
                    
                    Description: CIQ v4 lightweight implementation of address types
                    Owner: OASIS CIQ TC 
                    Date: 2011-02-05T23:41:52 
                    Version: 4.0 draft 
                    XSD generator: v1.45 
                    NS Mode: true 
                    XSDOutput Mode: OASIS Draft

                           OASIS: Copyright (C) OASIS Open 2001-2011. All Rights Reserved.
                           OASIS: Information on OASIS's  procedures with respect to rights in OASIS
                           OASIS: specifications can be found at the OASIS website.
                           OASIS: The terms and conditions of use may also be found at the OASIS website.
                           OASIS:  For complete legal license and use text see the OASIS website - http://www.oasis-open.org
                    </xsd:documentation>
      <xsd:appinfo source="CAM">Address</xsd:appinfo>
   </xsd:annotation>
   <xsd:element name="Address" type="AddressType" id="ciq2e37">
      <xsd:annotation>
         <xsd:documentation>Collection of address structures for referencing a physical location.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="AddressType" id="ciq2e371">
      <xsd:annotation>
         <xsd:documentation>
Address information structured according to OASIS CIQ approach</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="FreeTextAddress" minOccurs="0" maxOccurs="1" id="ciq2e111">
            <xsd:annotation>
               <xsd:documentation>
Container for free text address elements where address elements are not parsed</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="AddressLine" minOccurs="1" maxOccurs="unbounded" id="ciq2e123">
                     <xsd:annotation>
                        <xsd:documentation>
Free format address representation. An address can have more than one line. The order of the AddressLine elements must be preserved, or the seqn attribute used to denote sequence.</xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:token">
                              <xsd:attribute name="type" type="xsd:token" id="ciq2e137"
                                 use="optional">
                                 <xsd:annotation>
                                    <xsd:documentation>
What does the address line describe? e.g. Street details, suburb details, post code details, whole address, etc</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:attribute>
                              <xsd:attribute name="seqn" type="xsd:token" id="ciq2e151"
                                 use="optional">
                                 <xsd:annotation>
                                    <xsd:documentation>
Sequence number, optional, to ensure rendering is in correct logical sequence.</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:attribute>
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="PostalAddress" minOccurs="0" maxOccurs="1" id="ciq2e175">
            <xsd:annotation>
               <xsd:documentation>
Address designed primarily for postal delivery purposes.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Thoroughfare" minOccurs="0" maxOccurs="1" id="ciq2e187">
                     <xsd:annotation>
                        <xsd:documentation>
Details of the Access route along which buildings/lot/land are located, such as street, road, channel, crescent, avenue, etc. This also includes canals/banks on which houses/boat houses are located.

Can contain the entire address string; then the attributes contain particular details from the address string.</xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:token">
                              <xsd:attribute name="type" type="xsd:token" id="ciq2e199"
                                 use="optional">
                                 <xsd:annotation>
                                    <xsd:documentation>
What does the address line describe? e.g. street details, road, culdesac, avenue, court, etc.</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:attribute>
                              <xsd:attribute name="number" type="xsd:token" id="ciq2e213"
                                 use="optional">
                                 <xsd:annotation>
                                    <xsd:documentation>
Data associated with the number of the premises. E.g.House 15, number range, number suffix</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:attribute>
                              <xsd:attribute name="name" type="xsd:token" id="ciq2e227"
                                 use="optional">
                                 <xsd:annotation>
                                    <xsd:documentation>
Name associated with the route, road, street and so on of the address location.</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:attribute>
                              <xsd:attribute name="direction" type="xsd:token" id="ciq2e241"
                                 use="optional">
                                 <xsd:annotation>
                                    <xsd:documentation>
Indicates North, South, and so on, and can be pre or post direction.</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:attribute>
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="OtherDetail" minOccurs="0" maxOccurs="unbounded" id="ciq2e265">
                     <xsd:annotation>
                        <xsd:documentation>
Further details for the address such as housing development name, house name, local area name, park name, historical name, school.</xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:token">
                              <xsd:attribute name="type" type="xsd:token" id="ciq2e279"
                                 use="optional">
                                 <xsd:annotation>
                                    <xsd:documentation>
Optional abbreviation describing the type of detail - such as 'Development', 'House', 'Park', 'School', and so on.</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:attribute>
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="PostalDeliveryPoint" minOccurs="0" maxOccurs="1" id="ciq2e302">
                     <xsd:annotation>
                        <xsd:documentation>
Final mail delivery point where the mail is dropped off for recipients to pick them up directly. E.g. POBox, Private Bag,  pigeon hole, free mail numbers, etc.</xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:token">
                              <xsd:attribute name="type" id="ciq2e314" use="optional">
                                 <xsd:annotation>
                                    <xsd:documentation>
GPOBox, POBox, Mail Room, Suite, Apartment and so on.</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:token">
                                       <xsd:enumeration value="GPOBox"/>
                                       <xsd:enumeration value="POBox"/>
                                       <xsd:enumeration value="LockedBag"/>
                                       <xsd:enumeration value="MailStop"/>
                                       <xsd:enumeration value="PigeonHole"/>
                                       <xsd:enumeration value="PrivateBag"/>
                                       <xsd:enumeration value="Apt"/>
                                       <xsd:enumeration value="Suite"/>
                                       <xsd:enumeration value="Cubical"/>
                                       <xsd:enumeration value="Depot"/>
                                       <xsd:enumeration value="MailRoom"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:attribute>
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="Locality" minOccurs="0" maxOccurs="1" id="ciq2e339">
                     <xsd:annotation>
                        <xsd:documentation>
Details of Locality which is a named densely populated area  (a place) such as town, village, suburb, etc. A locality composes of many individual addresses.  Many localities exist in an administrative area or a sub adminisrative area. A locality can also have sub localities. For example, a municipality locality can have many villages associated with it which are sub localities. Example: Tamil Nadu State, Erode District, Bhavani Taluk, Paruvachi Village is a valid address in India. Tamil Nadu is the Administrative Area, Erode is the sub admin area, Bhavani is the locality, and Paruvachi is the sub locality</xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:token">
                              <xsd:attribute name="type" type="xsd:token" id="ciq2e351"
                                 use="optional">
                                 <xsd:annotation>
                                    <xsd:documentation>
Municipality, PostTown, Place, Suburb, Town, Village, Area, Zone</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:attribute>
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="AdministrativeArea" minOccurs="0" maxOccurs="1" id="ciq2e375">
                     <xsd:annotation>
                        <xsd:documentation>
Details of the top-level area division in the country, such as state, district, province, island, region, etc. Note that some countries do not have this</xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:token">
                              <xsd:attribute name="type" type="xsd:token" id="ciq2e387"
                                 use="optional">
                                 <xsd:annotation>
                                    <xsd:documentation>
City, State, StateCode, Territory, Province</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:attribute>
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="PostCode" minOccurs="0" maxOccurs="1" id="ciq2e410">
                     <xsd:annotation>
                        <xsd:documentation>
A container for a single free text or structured postcode. Note that not all countries have post codes</xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:token">
                              <xsd:attribute name="type" type="xsd:token" id="ciq2e422"
                                 use="optional">
                                 <xsd:annotation>
                                    <xsd:documentation>
Denotes style of code e.g. ZIP code, UK code, EU code.</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:attribute>
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="Country" minOccurs="0" maxOccurs="1" id="ciq2e445">
                     <xsd:annotation>
                        <xsd:documentation>
Country details</xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:token">
                              <xsd:attribute name="code" type="xsd:token" id="ciq2e457"
                                 use="optional">
                                 <xsd:annotation>
                                    <xsd:documentation>
Optional country code value, such as ISO country code or name abbreviation.</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:attribute>
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="GeoRSS" minOccurs="0" maxOccurs="1" type="GeoRSSDefinition"
            id="ciq2e481">
            <xsd:annotation>
               <xsd:documentation>
GeoRSS GML from Open Geospatial Consortium (OGC - www.opengeospatial.net) is a formal GML Application Profile, and supports a greater range of features than Simple, notably coordinate reference systems other than WGS84 latitude/longitude. It is designed for use with Atom 1.0, RSS 2.0 and RSS 1.0, although it can be used just as easily in non-RSS XML encodings.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="LocationByCoordinates" minOccurs="0" maxOccurs="1" id="ciq2e498">
            <xsd:annotation>
               <xsd:documentation>
Physical location described by relative coordinates from geospatial system.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Latitude" minOccurs="0" maxOccurs="1" id="ciq2e597">
                     <xsd:annotation>
                        <xsd:documentation>
Latitude details</xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:token">
                              <xsd:attribute name="DegreesMeasure" type="xsd:token" id="ciq2e611"
                                 use="optional">
                                 <xsd:annotation>
                                    <xsd:documentation>
Measure of the latitude in degrees</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:attribute>
                              <xsd:attribute name="MinutesMeasure" type="xsd:token" id="ciq2e625"
                                 use="optional">
                                 <xsd:annotation>
                                    <xsd:documentation>Measure of the latitude in minutes</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:attribute>
                              <xsd:attribute name="SecondsMeasure" type="xsd:token" id="ciq2e639"
                                 use="optional">
                                 <xsd:annotation>
                                    <xsd:documentation>Measure of the latitude in seconds</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:attribute>
                              <xsd:attribute name="Direction" id="ciq2e653" use="optional">
                                 <xsd:annotation>
                                    <xsd:documentation>The direction of latitude measurement offset from the equator</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:token">
                                       <xsd:enumeration value="East"/>
                                       <xsd:enumeration value="West"/>
                                       <xsd:enumeration value="North"/>
                                       <xsd:enumeration value="South"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:attribute>
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="Longitude" minOccurs="0" maxOccurs="1" id="ciq2e679">
                     <xsd:annotation>
                        <xsd:documentation>Longitude details</xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:token">
                              <xsd:attribute name="DegreesMeasure" type="xsd:token" id="ciq2e693"
                                 use="optional">
                                 <xsd:annotation>
                                    <xsd:documentation>Measure of the latitude in degrees</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:attribute>
                              <xsd:attribute name="MinutesMeasure" type="xsd:token" id="ciq2e707"
                                 use="optional">
                                 <xsd:annotation>
                                    <xsd:documentation>Measure of the latitude in minutes</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:attribute>
                              <xsd:attribute name="SecondsMeasure" type="xsd:token" id="ciq2e721"
                                 use="optional">
                                 <xsd:annotation>
                                    <xsd:documentation>Measure of the latitude in seconds</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:attribute>
                              <xsd:attribute name="Direction" id="ciq2e735" use="optional">
                                 <xsd:annotation>
                                    <xsd:documentation>The direction of latitude measurement offset from the equator</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:token">
                                       <xsd:enumeration value="East"/>
                                       <xsd:enumeration value="West"/>
                                       <xsd:enumeration value="North"/>
                                       <xsd:enumeration value="South"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:attribute>
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="Meridian" type="xsd:token" id="ciq2e512" use="optional">
                  <xsd:annotation>
                     <xsd:documentation>The collection of the coordinate numeric values for latitude amd longtitude depends on the agreed position of the meridian. Declaration of the meridian is necessary as it cannot be assumed in the data</xsd:documentation>
                  </xsd:annotation>
               </xsd:attribute>
               <xsd:attribute name="MeridianCodeType" type="xsd:token" id="ciq2e526" use="optional">
                  <xsd:annotation>
                     <xsd:documentation>Type of code used. e.g. EPSG Code</xsd:documentation>
                  </xsd:annotation>
               </xsd:attribute>
               <xsd:attribute name="Datum" type="xsd:token" id="ciq2e540" use="optional">
                  <xsd:annotation>
                     <xsd:documentation>The collection of the coordinate numeric values depends on the agreed datum within which the measurement was taken. Declaration of the datum is necessary as it cannot be assumed in the data</xsd:documentation>
                  </xsd:annotation>
               </xsd:attribute>
               <xsd:attribute name="DatumCodeType" type="xsd:token" id="ciq2e554" use="optional">
                  <xsd:annotation>
                     <xsd:documentation>Type of code used. e.g. EPSG Code, WGS-84</xsd:documentation>
                  </xsd:annotation>
               </xsd:attribute>
               <xsd:attribute name="Projection" type="xsd:token" id="ciq2e569" use="optional">
                  <xsd:annotation>
                     <xsd:documentation>Coordinates have limited utility and application depending on the projection required for visualisation in a map. Declaration of projection is necessary as it cannot be assumed in data</xsd:documentation>
                  </xsd:annotation>
               </xsd:attribute>
               <xsd:attribute name="ProjectionCodeType" type="xsd:token" id="ciq2e583"
                  use="optional">
                  <xsd:annotation>
                     <xsd:documentation>Type of code used. e.g. EPSG Code</xsd:documentation>
                  </xsd:annotation>
               </xsd:attribute>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="type" id="ciq2e50" use="optional">
         <xsd:annotation>
            <xsd:documentation>Defines what the address line describes such as Home, Business, Facility, Hospital, Hotel or style of address reference - geospatial, postal, barcoded.</xsd:documentation>
         </xsd:annotation>
         <xsd:simpleType>
            <xsd:restriction base="xsd:token">
               <xsd:enumeration value="Airport"/>
               <xsd:enumeration value="Business"/>
               <xsd:enumeration value="CaravanPark"/>
               <xsd:enumeration value="CommercialPark"/>
               <xsd:enumeration value="CommunityDevelopment"/>
               <xsd:enumeration value="EducationalInstitution"/>
               <xsd:enumeration value="Entertainment"/>
               <xsd:enumeration value="Hospital"/>
               <xsd:enumeration value="Location"/>
               <xsd:enumeration value="Marina"/>
               <xsd:enumeration value="MilitaryBase"/>
               <xsd:enumeration value="OverseasMilitary"/>
               <xsd:enumeration value="Port"/>
               <xsd:enumeration value="Primary"/>
               <xsd:enumeration value="RecreationalPark"/>
               <xsd:enumeration value="Resort"/>
               <xsd:enumeration value="RetirementVillage"/>
               <xsd:enumeration value="Rural"/>
               <xsd:enumeration value="Secondary"/>
               <xsd:enumeration value="ShoppingCentre"/>
               <xsd:enumeration value="SportingCentre"/>
               <xsd:enumeration value="Urban"/>
            </xsd:restriction>
         </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="addressID" type="xsd:token" id="ciq2e66" use="optional">
         <xsd:annotation>
            <xsd:documentation>A unique address identifier such as postal delivery idetifier assigned to the address by local postal authority, e.g. DPID in Australia.</xsd:documentation>
         </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="usage" id="ciq2e80" use="optional">
         <xsd:annotation>
            <xsd:documentation>The purpose the address is used for. E.g.  Postal, residential, business,  exchange, current, previous.</xsd:documentation>
         </xsd:annotation>
         <xsd:simpleType>
            <xsd:restriction base="xsd:token">
               <xsd:enumeration value="Business"/>
               <xsd:enumeration value="Billing"/>
               <xsd:enumeration value="Communication"/>
               <xsd:enumeration value="Contact"/>
               <xsd:enumeration value="Mailing"/>
               <xsd:enumeration value="Personal"/>
               <xsd:enumeration value="Postal"/>
               <xsd:enumeration value="Residential"/>
               <xsd:enumeration value="Forwarding"/>
               <xsd:enumeration value="CareOf"/>
               <xsd:enumeration value="Representative"/>
               <xsd:enumeration value="Religious"/>
               <xsd:enumeration value="Hospital"/>
               <xsd:enumeration value="CareCenter"/>
            </xsd:restriction>
         </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="status" type="xsd:token" id="ciq2e97" use="optional">
         <xsd:annotation>
            <xsd:documentation>Status of the entity. e.g. Old, Current, Inactive, Active, New, etc</xsd:documentation>
         </xsd:annotation>
      </xsd:attribute>
   </xsd:complexType>

   <!-- More complexTypes -->
   <xsd:complexType name="MailingAddress">
      <xsd:annotation>
         <xsd:documentation>An address to which postal services will provide delivery.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="FreeTextAddress" type="xal:FreeTextAddressType" minOccurs="0" maxOccurs="1"
            id="ciq2e950"/>
         <xsd:element name="PostalAddress" type="xal:PostalAddressType" minOccurs="0" maxOccurs="1"
            id="ciq2e980"/>
         <xsd:element name="GeoRSS" type="xal:GeoRSS" minOccurs="0" maxOccurs="1" id="ciq2e1119"/>
      </xsd:sequence>
      <xsd:attribute name="type" type="xsd:token" id="ciq2e893"/>
      <xsd:attribute name="addressID" type="xsd:token" id="ciq2e907"/>
      <xsd:attribute name="usage" type="xsd:token" id="ciq2e921"/>
      <xsd:attribute name="status" type="xsd:token" id="ciq2e935"/>
   </xsd:complexType>
   <xsd:complexType name="FreeTextAddressType" id="ciq1545e1">
      <xsd:annotation>
         <xsd:documentation>Address information that is not structured and hence can be simple text information for sequential rendering without any rules or semantics.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="AddressLine" type="xal:AddressLine" minOccurs="1" maxOccurs="unbounded"
            id="ciq1545e7"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AddressLine">
      <!-- Element with 2 attributes.-->
      <xsd:annotation>
         <xsd:documentation>A line within an address that provides specific locational detail.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="xsd:token">
            <xsd:attribute name="type" type="xsd:token" id="ciq1545e37" use="optional">
               <xsd:annotation>
                  <xsd:documentation>The relevance of the address line, such as street, county, city, region, country.</xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="seqn" type="xsd:token" id="ciq1545e45" use="optional">
               <xsd:annotation>
                  <xsd:documentation>The physical sequence that the address line should be applied or rendered.</xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="GeoRSS">
      <xsd:annotation>
         <xsd:documentation>The any type for GeoRSS. </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PostalAddressType" id="ciq1545e53">
      <xsd:annotation>
         <xsd:documentation>Backward compatible with earlier CIQ address formats.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Thoroughfare" type="xal:Thoroughfare" minOccurs="0" maxOccurs="1"
            id="ciq1545e59"/>
         <xsd:element name="OtherDetail" type="xal:OtherDetail" minOccurs="0" maxOccurs="unbounded"
            id="ciq1545e98"/>
         <xsd:element name="PostalDeliveryPoint" type="xal:PostalDeliveryPoint" minOccurs="0"
            maxOccurs="1" id="ciq1545e115"/>
         <xsd:element name="Locality" type="xal:Locality" minOccurs="0" maxOccurs="1"
            id="ciq1545e130"/>
         <xsd:element name="AdministrativeArea" type="xal:AdministrativeArea" minOccurs="0"
            maxOccurs="1" id="ciq1545e145"/>
         <xsd:element name="PostCode" type="xal:PostCode" minOccurs="0" maxOccurs="1"
            id="ciq1545e161"/>
         <xsd:element name="Country" type="xal:Country" minOccurs="0" maxOccurs="1" id="ciq1545e176"
         />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Thoroughfare">
      <!-- Element with 4 attributes.-->
      <xsd:annotation>
         <xsd:documentation>A named road, street, boulevard that can be identified.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="xsd:token">
            <xsd:attribute name="type" type="xsd:token" id="ciq1545e198" use="optional"/>
            <xsd:attribute name="number" type="xsd:token" id="ciq1545e206" use="optional"/>
            <xsd:attribute name="name" type="xsd:token" id="ciq1545e214" use="optional"/>
            <xsd:attribute name="direction" type="xsd:token" id="ciq1545e222" use="optional"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>

   <xsd:complexType name="OtherDetail">
      <!-- Element with 1 attributes.-->
      <xsd:annotation>
         <xsd:documentation>Additional detail regarding an address.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="xsd:token">
            <xsd:attribute name="type" type="xsd:token" id="ciq1545e238" use="optional"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>

   <xsd:complexType name="PostalDeliveryPoint">
      <!-- Element with 1 attributes.-->
      <xsd:annotation>
         <xsd:documentation>A physical service that can distribute, collect or receive postal mail delivery.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="xsd:token">
            <xsd:attribute name="type" type="xsd:token" id="ciq1545e252" use="optional"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>

   <xsd:complexType name="Locality">
      <!-- Element with 1 attributes.-->
      <xsd:annotation>
         <xsd:documentation>A region or area that is a sub-division within a larger geographic area.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="xsd:token">
            <xsd:attribute name="type" type="xsd:token" id="ciq1545e266" use="optional"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>

   <xsd:complexType name="AdministrativeArea">
      <!-- Element with 1 attributes.-->
      <xsd:annotation>
         <xsd:documentation>An area that is for the purpose of government administration and may cross or aggregate physical or locality areas.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="xsd:token">
            <xsd:attribute name="type" type="xsd:token" id="ciq1545e280" use="optional"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>

   <xsd:complexType name="PostCode">
      <!-- Element with 1 attributes.-->
      <xsd:annotation>
         <xsd:documentation>A postal code value.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="xsd:token">
            <xsd:attribute name="type" type="xsd:token" id="ciq1545e294" use="optional">
               <xsd:annotation>
                  <xsd:documentation>Can denote the regional style of postal code formatting such as ZIP, UK, EU.</xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>

   <xsd:complexType name="Country">
      <!-- Element with 1 attributes.-->
      <xsd:annotation>
         <xsd:documentation>Name or ISO approved abbreviation for the country.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="xsd:token">
            <xsd:attribute name="code" type="xsd:token" id="ciq1545e309" use="optional"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>

   <xsd:complexType name="OfficialAddress">
      <xsd:annotation>
         <xsd:documentation>Designated address for legal or administrative purposes of a person or entity.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="FreeTextAddress" type="xal:FreeTextAddressType" minOccurs="0" maxOccurs="1"
            id="d2e5561"/>
         <xsd:element name="PostalAddress" type="xal:PostalAddressType" minOccurs="0" maxOccurs="1"
            id="d2e5591"/>
         <xsd:element name="GeoRSS" type="xal:GeoRSS" minOccurs="0" maxOccurs="1" id="d2e5730"/>
      </xsd:sequence>
      <xsd:attribute name="type" type="xsd:token" use="optional" id="d2e5504"/>
      <xsd:attribute name="addressID" type="xsd:token" use="optional" id="d2e5518"/>
      <xsd:attribute name="usage" type="xsd:token" use="optional" id="d2e5532"/>
      <xsd:attribute name="status" type="xsd:token" use="optional" id="d2e5546"/>
   </xsd:complexType>

   <xsd:complexType name="PostalLocation">
      <xsd:annotation>
         <xsd:documentation>Address that can receive postal correspondence and materials delivery.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="FreeTextAddress" type="xal:FreeTextAddressType" minOccurs="0" maxOccurs="1"
            id="d2e11153"/>
         <xsd:element name="PostalAddress" type="xal:PostalAddressType" minOccurs="0" maxOccurs="1"
            id="d2e11183"/>
         <xsd:element name="GeoRSS" type="xal:GeoRSS" minOccurs="0" maxOccurs="1" id="d2e11322"/>
      </xsd:sequence>
      <xsd:attribute name="IdNumber" type="xsd:token" use="optional" id="d2e11070">
         <xsd:annotation>
            <xsd:documentation>The unique identifier foreign key value for this postal entity.</xsd:documentation>
         </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="DisplayOrder" type="xsd:token" use="optional" id="d2e11083">
         <xsd:annotation>
            <xsd:documentation>The sequence that this item should be rendered in a display or report.</xsd:documentation>
         </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="type" type="xsd:token" use="optional" id="d2e11096"/>
      <xsd:attribute name="addressID" type="xsd:token" use="optional" id="d2e11110"/>
      <xsd:attribute name="usage" type="xsd:token" use="optional" id="d2e11125"/>
      <xsd:attribute name="status" type="xsd:token" use="optional" id="d2e11139"/>
   </xsd:complexType>
   <xsd:complexType name="NonHouseAddress">
      <xsd:annotation>
         <xsd:documentation>Address that is not a residence or dwelling.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="FreeTextAddress" type="xal:FreeTextAddressType" minOccurs="0" maxOccurs="1"
            id="d2e11844"/>
         <xsd:element name="PostalAddress" type="xal:PostalAddressType" minOccurs="0" maxOccurs="1"
            id="d2e11874"/>
         <xsd:element name="GeoRSS" type="xal:GeoRSS" minOccurs="0" maxOccurs="1" id="d2e12013"/>
      </xsd:sequence>
      <xsd:attribute name="type" type="xsd:token" use="optional" id="d2e11787"/>
      <xsd:attribute name="addressID" type="xsd:token" use="optional" id="d2e11801"/>
      <xsd:attribute name="usage" type="xsd:token" use="optional" id="d2e11815"/>
      <xsd:attribute name="status" type="xsd:token" use="optional" id="d2e11829"/>
   </xsd:complexType>

   <xsd:complexType name="AuthorityAddress">
      <xsd:annotation>
         <xsd:documentation>Address of a formal adminstrative entity.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="FreeTextAddress" type="xal:FreeTextAddressType" minOccurs="0" maxOccurs="1"
            id="d2e457"/>
         <xsd:element name="PostalAddress" type="xal:PostalAddressType" minOccurs="0" maxOccurs="1"
            id="d2e487"/>
         <xsd:element name="GeoRSS" type="xal:GeoRSS" minOccurs="0" maxOccurs="1" id="d2e626"/>
      </xsd:sequence>
      <xsd:attribute name="type" type="xsd:token" use="optional" id="d2e400"/>
      <xsd:attribute name="addressID" type="xsd:token" use="optional" id="d2e414"/>
      <xsd:attribute name="usage" type="xsd:token" use="optional" id="d2e428"/>
      <xsd:attribute name="status" type="xsd:token" use="optional" id="d2e443"/>
   </xsd:complexType>

   <!-- Parent complexTypes 
 
-->
   <!-- Local simpleTypes (default namespace) 
 
-->
   <xsd:complexType name="GeoRSSDefinition">
      <xsd:annotation>
         <xsd:documentation>The any type for GeoRSS. </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
